In [230]:
import pandas as pd

# Read data from each file
continuous_alphabets_data = pd.read_csv('continuous_alphabets.csv')
continuous_digits_data = pd.read_csv('continuous_digits.csv')
random_symbols_data = pd.read_csv('random_symbols.csv')
keyboard_sequence_data = pd.read_csv('keyboard_sequence.csv')

# Combine data into one DataFrame
dataframes = [continuous_alphabets_data, continuous_digits_data, random_symbols_data, keyboard_sequence_data]
combined_data = pd.concat(dataframes)

In [231]:
combined_data

        Example
0     hijklmnop
1     qrstuvwxy
2        lmnopq
3    bcdefghijk
4     defghijkl
..          ...
995     zxcvbnm
996      rtyuio
997       xcvbn
998       rtyui
999      zxcvbn

[4000 rows x 1 columns]

In [232]:
combined_data['Example'] = combined_data['Example'].apply(lambda x : str(x))

In [233]:
combined_data_reversed = combined_data.copy()

In [234]:
combined_data_reversed['Example'] = combined_data_reversed['Example'].apply(lambda x : x[::-1])

In [235]:
combined_data_reversed

        Example
0     ponmlkjih
1     yxwvutsrq
2        qponml
3    kjihgfedcb
4     lkjihgfed
..          ...
995     mnbvcxz
996      oiuytr
997       nbvcx
998       iuytr
999      nbvcxz

[4000 rows x 1 columns]

In [236]:
shuffled_data = pd.concat([combined_data, combined_data_reversed])

In [237]:
shuffled_data

        Example
0     hijklmnop
1     qrstuvwxy
2        lmnopq
3    bcdefghijk
4     defghijkl
..          ...
995     mnbvcxz
996      oiuytr
997       nbvcx
998       iuytr
999      nbvcxz

[8000 rows x 1 columns]

In [238]:

# Shuffle the rows randomly
shuffled_data = shuffled_data.sample(frac=1, random_state=42).reset_index(drop=True)

# Print the shuffled data
shuffled_data

         Example
0     j8p/\-$dJW
1       }J{*7vqZ
2       12345678
3          zxcvb
4          gfedc
...          ...
7995   987654321
7996       76543
7997   cdefghijk
7998     mnbvcxz
7999       jhgfd

[8000 rows x 1 columns]

In [239]:
shuffled_data.describe()

          Example
count        8000
unique       2332
top     987654321
freq          258

In [240]:

# Create the feature vectors using TF-IDF
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer


vectorizer = CountVectorizer()
features = vectorizer.fit_transform(shuffled_data['Example'])

# Create the target labels
labels = shuffled_data.index

# Train a logistic regression model
model = LogisticRegression()
model.fit(features, labels)

LogisticRegression()

In [253]:
# Function to predict similarity
def predict_similarity(text):
    text_features = vectorizer.transform([text])
    prediction = model.predict(text_features)
    return prediction[0]

In [259]:

# Test the model
test_text = "bvcxn"
prediction = predict_similarity(test_text)
if prediction != 7892:
    print(f"yes")
else:
    print(f"no")

no